.App {
  display: flex;
}

.App div {
  margin: 30px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: hotpink;
}

.is-done {
  opacity: 0.5;
}